@media screen and (min-width: 1900px) {
    .pt1 {
        width: 1920px;
        height: 700px;
        background-image: image-set("image/home/file.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        text-align: center;
        color: white;
        font-size: 1.5em;
    }
    
    #text1 {
        font-size: 33px;
        padding-top: 290px;
        text-shadow: 2px 0.5px 13px black;
    }
    
    #pt2 {
        width: 1920px;
        height: 450px;
        background-image: image-set("image/home/quem-somos(grande).png");
        background-position: center center;
        background-repeat: no-repeat;
        border-top: 6px solid rgb(0, 0, 0);
        border-bottom: 6px solid rgb(0, 0, 0);
    }
    
    #text2 {
        padding-top: 175px;
        padding-left: 50px;
        color: white;
        font-size: 1.6em;
        text-shadow: 2px 0.5px 13px black;
    }
    
    #quem-somos {
        font-size: 23px;
        margin-top: 20px;
        padding: 13px;
        margin-left: 50px;
        background-color: var(--cor3);
        color: var(--cor2);
        text-decoration: none;
        border-radius: 8px; 
        border: 1px solid var(--cor3);
    }
    
    #quem-somos:hover {
        transition: 0.5s;
        border: 1px solid var(--cor3);
        color: var(--cor3);
        background-color: #8b603c00;
    }
    
    .linkp3 {
        color: white;
        text-decoration: none;
    }
    
    .linkp3:hover {
        transition: 0.8s;
        opacity: 45%;
    }
    
    .pt3 {
        background-color: black;
        color: white;
        height: 780px;
        margin: auto;
        display: block;
        width: 1920px;
    }
    
    div.p3 {
        width: 50%;
        min-width: 250px;
        display: inline-block;
        vertical-align: top;
        border: 3px solid rgb(0, 0, 0);
        border-radius: 25px;
    }
    
    div.p3 > p {
        padding-top: 345px;
        text-align: center;
        font-size: 1.8em;
        text-shadow: 2px 0.5px 13px black;
    }
    
    div#capsula {
        background-image: image-set("image/home/capsulas(grande).jpg");
        float: left;
        width: 634px;
        height: 770px;
    }
    
    div#grao {
        background-image: image-set("image/home/graos(grande).jpg");
        width: 634px;
        height: 770px;
    }
    
    div#po {
        background-image: image-set("image/home/po(grande).jpg");
        float: right;
        width: 634px;
        height: 770px;
    }
}