@media screen and (min-width: 1900px) {
    body {
        background-image: image-set("../image/cadastro-login/cadastro(grande).png");
        background-repeat: no-repeat;
        background-position: center center;
        height: 950px;
    }
    
    img {
        margin-top: 90px;
        margin-bottom: 25px;
    }
    
    a {
        text-decoration: none;
    }
    
    .formulario {
        height: 510px;
        margin: auto;
        margin-top: 195px;
        text-align: center;
        background-color: var(--cor2);
        color: var(--color1);
        width: 425px;
        border-radius: 7px;
    }
    
    h3 {
        margin-top: 5px;
        color: var(--cor1);
        margin-bottom: 10px;
    }
    
    input {
        border: 1px solid var(--cor1);
        border-radius: 4px;
    }
    
    input::placeholder {
        padding-left: 10px;
    }
    
    input, label {
        margin-top: 10px;
        color: var(--cor1);
        font-size: 0.8em;
    }
    
    .input {
        width: 200px;
        height: 25px;
    }
    
    .entrar {
        width: 220px;
        margin: auto;
    }
    
    .login-social {
        float: right;
    }
    
    .botao-login {
        margin: 2px;
        width: 100px;
        height: 25px;
    }
    
    #ou{
        margin-top: 0;
    }
    
    input[type=submit] {
        float: left;
        text-align: left;
        padding: 10px;
        padding-left: 14px;
        padding-right: 14px;
        background-color: var(--cor1);
        color: var(--cor2);
    }
    
    input[type=submit]:hover {
        transition: 0.6s;
        background-color: #24443a;
        color: rgb(255, 255, 255);
    }
    
    #login01 {
        color: var(--cor1);
        font-size: 0.45em;
    }
    
    #login01:hover {
        color: #274b40;
        text-decoration: underline;
    }

    .formulario-config {
        height: 450px;
        margin: auto;
        margin-top: 159px;
        text-align: center;
        background-color: var(--cor2);
        color: var(--color1);
        width: 425px;
        border-radius: 7px;
    }
}